{% load static %}
<!--footer-->
    <div class="container-fluid blog-sb-widgets page-styling site-footer">
        <div class="row">
            <div class="col-sm-12 col-md-4 widget align-center-tablet f-logo-wrap">
                <a href="index.html" class="f-logo">
                    <img src="{% static 'img/logo.png' %}" alt="" style="width: 80px; height: 80px;">
                </a>
                <p> E-commerce Project with Django </p>
                <p>Created by Ricardo Gomez </p>
                <button class="btn callback">Contact</button>
            </div>
        </div>
    </div>