<li class="h-cart">
    <!-- al hacer click sobre el icono del carrito nos dirigimos a la sgt url -->
    <a class="cart-contents" href="{% url 'web:carrito' %}">
        <p class="h-cart-icon">
            <i class="ion-android-cart"></i>
            <!-- en la barra de navegacion hay un pequeño plugin de carrito, la sgt linea de codigo es para ver la cantidad de productos en ese plugin -->
            <!-- se usa la palabra reservada length para saber la cantidad de productos en el carrito  -->
            <span>{{request.session.cart.items|length}}</span>
        </p>
        <p class="h-cart-total">${{request.session.cartMontoTotal}}</p>
    </a>
    <div class="widget_shopping_cart">
        <div class="widget_shopping_cart_content">
            <ul class="cart_list">
                <!-- recorremos los items del diccionario cart, para poder mostrar los datos (como preco, cantidad) de los productos que estan en el carrito uno por uno -->
                {% for key, value in request.session.cart.items %}
                <li>
                    <a href="{% url 'web:eliminarProductoCarrito' value.producto_id %}" class="remove">&times;</a>
                    <a href="{% url 'web:carrito'  %}">
                        <img src="{{value.image}}" alt="">
                        Producto
                    </a>
                    <span class="quantity">{{value.quantity}} &times; ${{value.subtotal}}</span>
                </li>
                {% endfor %}
            </ul>
            <p class="total"><b>Total:</b> ${{request.session.cartMontoTotal}}</p>
            <p class="buttons">
                <a href="{% url 'web:carrito' %}" class="button">View Cart</a>
                <a href="#" class="button">Pedido</a>
            </p>
        </div>
    </div>
</li>